/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen {
  max-width: 700px;
  /***************OVERSKRIFT***************/

  .overskrift_shop {
    font-size: 2rem;
    margin: 6%;
    text-align: center;
  }

  /*************HOVER********************/

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.2cm;
    margin: 10px;
  }
  .grid_1_1_1 img {
    align-self: stretch;
    object-fit: cover;
  }

  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2cm;
    margin: 10px;
  }
  .grid_1_1_1_1 img {
    align-self: stretch;
    object-fit: cover;
  }
  .image_col {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  .image_col img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Initial filter */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8fb996;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.5s ease;
  }

  .image_col:hover img {
    filter: brightness(100%); /* Fjern filter ved hover */
    transform: scale(1.2); /* Zoom billede ved hover */
  }

  .image_col:hover .overlay {
    opacity: 0; /* Skjul tekst og overlay ved hover */
  }
}

/* -------- WEB --------- */
@media (min-width: 700px) {
  /***************OVERSKRIFT***************/

  .overskrift_shop {
    font-size: 3rem;
    margin: 6%;
    text-align: center;
  }

  /*************HOVER********************/

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2cm;
    margin: 10px;
  }
  .grid_1_1_1 img {
    align-self: stretch;
    object-fit: cover;
  }

  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.2cm;
    margin: 10px;
  }
  .grid_1_1_1_1 img {
    align-self: stretch;
    object-fit: cover;
  }
  .image_col {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  .image_col img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Initial filter */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8fb996;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.5s ease;
  }

  .image_col:hover img {
    filter: brightness(100%); /* Fjern filter ved hover */
    transform: scale(1.2); /* Zoom billede ved hover */
  }

  .image_col:hover .overlay {
    opacity: 0; /* Skjul tekst og overlay ved hover */
  }
}
