/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*fonts*/

h1 {
  font-family: "Trirong", serif;
  font-weight: 500;
  font-style: normal;
}

html {
  --primary: #8c615d;
  --secondary: white;
  --tertiary: green;
}

h1 {
  /* = Primary/Brand Color */

  color: var(--primary);
}

h2 {
  color: var(--primary);
}

p {
  color: var(--primary);
}

/* * {
  background-color: var(--secondary);
} */

/*footer tertiary*/ /*Har udkommenteret, da det var dette der gjorde at baggrunden fik en anden farve i footer*/

/*footer tertiary*/

/*FOOTER*/

/* -------- WEB --------- */
@media (min-width: 700px) {
  /*****************FOOTER*********************/
  footer {
    background-color: #9ea289;
    margin-top: 100px;
  }

  .grid_1_1_1_1_1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .link {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    left: 35%;
  }
  .kontakt {
    color: #ffff;
    gap: 10px;
    margin: 30px;
  }
  .kontakt2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 5%;
    margin-left: 30px;
    padding-bottom: 80px;
  }
  .insta {
    grid-column: 1/2;
  }
  .face {
    grid-column: 2/3;
  }

  /*************FOOTER SLUT********************/
}

/*MENU*/
