/*fonts*/

html {
  --primary: #8c615d;
  --secondary: white;
  --tertiary: green;
}

h1 {
  /* = Primary/Brand Color */

  color: var(--primary);
}

h2 {
  color: var(--primary);
}

p {
  color: var(--primary);
}

/* * {
  background-color: var(--secondary);
} */

/*footer tertiary*/ /*Har udkommenteret, da det var dette der gjorde at baggrunden fik en anden farve i footer*/

/***********FOOTER************/
