/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*fonts*/

h1 {
  font-family: "Trirong", serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  --primary: #8c615d;
  --secondary: white;
  --tertiary: green;
}

h1 {
  /* = Primary/Brand Color */

  color: var(--primary);
}

h2 {
  color: var(--primary);
}

p {
  color: var(--primary);
  line-height: 2rem;
  text-wrap: pretty;
  margin: 7%;
}

a {
  text-decoration: none;
  color: #ffff;
  text-align: center;
}

/* * {
  background-color: var(--secondary);
} */

/*footer tertiary*/ /*Har udkommenteret, da det var dette der gjorde at baggrunden fik en anden farve i footer*/

/*footer tertiary*/

/* -------- WEB --------- */
@media (min-width: 700px) {
  /*Burger menu - line*/
  .menu-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    font-size: 0.8rem;
  }
  .logo img {
    height: 50px;
  }

  .burger-menu {
    cursor: pointer;
  }
  .line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 60px; /* size of menu */
    right: 0; /* position of drop down */
    padding: 10px;
    z-index: 100; /* bring to front */
  }

  .dropdown-content nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    background-color: black;
  }
  .show {
    display: block;
  }

  /*****************FOOTER*********************/
  footer {
    background-color: #9ea289;
    margin-top: 100px;
  }

  .grid_1_1_1_1_1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr;
    gap: 10px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .link {
    position: absolute;
    align-items: center;
    height: 60px;
    left: 35%;
  }
  .kontakt {
    gap: 10px;
    margin: 30px;
  }
  .kontakt2 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    width: 5%;
    margin-left: 30px;
    padding-bottom: 80px;
  }
  .insta {
    grid-column: 1/2;
  }
  .face {
    grid-column: 2/3;
  }

  /*************FOOTER SLUT********************/
}

/*MENU*/
