* {
  margin: 0;
}

@media (min-width: 700px) {
  .grid_legacy {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_legacy1920 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  h2 {
    text-align: center;
  }
}

/*tden øverste overskrift på siden*/
.overskrift {
  background-color: rgb(213, 204, 204);
}

.bartelsdesignlegacy {
  color: #8c615d;
}

/*der er to forskellige h2er underoverskriften øverste på siden og årstal*/

.underoverskrift {
  font-size: 20px;
  color: #8c615d;
}

/*the legacy timeline overskrift*/
.timeline {
  text-align: center;
}

.årstal {
  text-align: center;
  font-size: 50px;
}

.billedafeva {
  width: 80%;
}

.billedeafopbevaring {
  width: 70%;
}
