* {
  margin: 0;
}

@media (min-width: 700px) {
  .grid_legacy {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_legacy1920 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
  }
  h2 {
    text-align: center;
  }
}

/*tden øverste overskrift på siden*/
.overskrift {
  background-color: rgb(213, 204, 204);
  padding: 10%;
}

.bartelsdesignlegacy {
  color: #8c615d;
}

/*der er to forskellige h2er underoverskriften øverste på siden og årstal*/

.underoverskrift {
  font-size: 20px;
  color: #8c615d;
}

/*the legacy timeline overskrift*/
.timeline {
  text-align: center;
  padding: 10%;
}

.årstal {
  text-align: center;
  font-size: 50px;
}

.billedafeva {
  width: 80%;
}

.billedeafopbevaring {
  width: 70%;
}

.container {
  position: relative;
  display: grid;
}

.image {
  width: 100%;
  height: auto;
}

.lottie {
  position: absolute;
  top: 13%;
  left: 81%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video_legacy {
  padding: 3%;
  margin-left: 10%;
  width: 80%;
}

.bartelsinterview {
  text-align: center;
  padding: 6%;
}
